<div class="senryu">
  <div class="post_senryu">
    <h2><%= link_to "川柳を投稿する", new_kawagoe3_senryu_path %></h2>
  </div>
  <h2>投稿された川柳一般</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="ranking">
        <span>並び替え</span>
        <div class="clearfix">
          <h5><%= link_to "新着順", kawagoe3_senryu_index_path %></h5>
          <h5><%= link_to "いいね順", like_kawagoe3_senryu_index_path %></h5>
        </div>
      </div>
      <div id="senryu">
        <%= render partial: 'senryu', collection: @senryus %>
      </div>
    </div>
    <div class="pagination">
      <%= paginate(@senryus) %>
    </div>
  </div>
</div>
