<div class="senryu">
  <div class="post_senryu">
    <h2><%= link_to "川柳を投稿する", new_kawagoe3_senryu_path %></h2>
  </div>
  <h2>投稿された川柳一般</h2>
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-md-3">
        <div class="senryu-content">
          <div class="img-<%= rand(100)%6 %> img">
            <div class="cover-img">
              <div class="row">
                <div class="left-content">
                  <p>柿食えば</p>
                </div>
                <div class="middle-content">
                  <p>鐘が鳴る鳴る</p>
                </div>
                <div class="right-content">
                  <p>法隆寺</p>
                </div>
              </div>
              <div class="user-info">
                <div class="row">
                  <div class="tema-content">
                    <p>テーマ</p>
                  </div>
                </div>
                <div class="row">
                  <div class="age-content">
                    <p>年齢 35</p>
                  </div>
                  <div class="name-content">
                    <p>名前 hoge</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="senryu-content">
          <div class="img-<%= rand(100)%6 %> img">
            <div class="cover-img">
              <div class="row">
                <div class="left-content">
                  <p>柿食えば</p>
                </div>
                <div class="middle-content">
                  <p>鐘が鳴る鳴る</p>
                </div>
                <div class="right-content">
                  <p>ほうりゅうじ</p>
                </div>
              </div>
              <div class="user-info">
                <div class="row">
                  <div class="tema-content">
                    <p>テーマ</p>
                  </div>
                </div>
                <div class="row">
                  <div class="age-content">
                    <p>年齢 35</p>
                  </div>
                  <div class="name-content">
                    <p>名前 hoge</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="senryu-content">
          <div class="img-<%= rand(100)%6 %> img">
            <div class="cover-img">
              <div class="row">
                <div class="left-content">
                  <p>柿食えば</p>
                </div>
                <div class="middle-content">
                  <p>鐘が鳴る鳴る</p>
                </div>
                <div class="right-content">
                  <p>ほうりゅうじ</p>
                </div>
              </div>
              <div class="user-info">
                <div class="row">
                  <div class="tema-content">
                    <p>テーマ</p>
                  </div>
                </div>
                <div class="row">
                  <div class="age-content">
                    <p>年齢 35</p>
                  </div>
                  <div class="name-content">
                    <p>名前 hoge</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="senryu-content">
          <div class="img-<%= rand(100)%6 %> img">
            <div class="cover-img">
              <div class="row">
                <div class="left-content">
                  <p>柿食えば</p>
                </div>
                <div class="middle-content">
                  <p>鐘が鳴る鳴る</p>
                </div>
                <div class="right-content">
                  <p>ほうりゅうじ</p>
                </div>
              </div>
              <div class="user-info">
                <div class="row">
                  <div class="tema-content">
                    <p>テーマ</p>
                  </div>
                </div>
                <div class="row">
                  <div class="age-content">
                    <p>年齢 35</p>
                  </div>
                  <div class="name-content">
                    <p>名前 hoge</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="senryu-content">
          <div class="img-<%= rand(6..11)%6 %> img">
            <div class="cover-img">
              <div class="row">
                <div class="left-content">
                  <p>柿食えば</p>
                </div>
                <div class="middle-content">
                  <p>鐘が鳴る鳴る</p>
                </div>
                <div class="right-content">
                  <p>ほうりゅうじ</p>
                </div>
              </div>
              <div class="user-info">
                <div class="row">
                  <div class="tema-content">
                    <p>テーマ</p>
                  </div>
                </div>
                <div class="row">
                  <div class="age-content">
                    <p>年齢 35</p>
                  </div>
                  <div class="name-content">
                    <p>名前 hoge</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
