<div class="senryu">
  <div class="senryu_info">
    <div class="senryu_img">
      <div class="container-fluid">
        <h2>川越川柳</h2>
        <h3>謎解きの後は川柳を詠んでみませんか？</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="senryu_info_content">
              <h4>企画</h4>
              <p>謎解きで巡った川越について川柳を詠んでみましょう。
              <br>また、皆様の投票をもとに、優秀作品を選びます。
              <br>優秀作品目指して頑張りましょう！</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="senryu_info_content">
              <h4>応募方法</h4>
              <p>「川柳を投稿する」ページにいき、必要事項を記入し、下の「投稿する」を選択してください。
              <br>※テーマは川越に関することであれば自由です。
              <br>※全ての川柳をサイト内で公開いたします。
              <br>※お名前は本名ではなく、ニックネームでかまいません。</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="senryu_info_content">
              <h4>投票方法</h4>
              <p>各川柳の下のいいねボタンを押して投票してください
              <br>※複数個投票しても構いません。
              <br>※各川柳にいいねできるのは一日一回までです。</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="senryu_info_content">
              <h4>楽しみ方</h4>
              <p>一緒に謎解きをした方とどちらの川柳の方が良いか競い合ったり、他の方がどのような川柳を詠んだか眺めて楽しんでください。
              また、常に新しい川柳が投稿され、順位も変動します。こまめにチェックしてみてください。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post_senryu">
    <h2><%= link_to "川柳を投稿する", new_kawagoe3_senryu_path %></h2>
  </div>
  <h2>投稿された川柳一般</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="ranking">
        <span>並び替え</span>
        <div class="clearfix">
          <h5><%= link_to "新着順", kawagoe3_senryu_index_path %></h5>
          <h5><%= link_to "いいね順", like_kawagoe3_senryu_index_path %></h5>
        </div>
      </div>
      <div id="senryu">
        <%= render partial: 'senryu', collection: @senryus %>
      </div>
    </div>
    <div class="pagination">
      <%= paginate(@senryus) %>
    </div>
  </div>
</div>
