<div class="flash">
  <% messages = @senryu.errors.full_messages %>
  <% if messages.present? %>
    <div class="alert alert-danger">
      全項目入力してください
    </div>
  <% end %>
</div>
<div class="senryu">
  <div class="container">
    <div class="row">
      <h3>川柳を投稿する</h3>
      <%= form_for [:kawagoe3, @senryu],url: kawagoe3_senryu_index_path, html: { class: 'form-horizontal form-contents' } do |f| %>
        <div class="form_content">
          名前(アルファベット以外)
          <div class="form-group">
              <%= f.text_field :name, placeholder: "例) 川越太郎", class: "form-control" %>
          </div>
          年齢
          <div class="form-group">
              <%= f.number_field :age, placeholder: "例) 40", class: "form-control" %>
          </div>
          テーマ
          <div class="form-group">
              <%= f.text_field :theme, placeholder: "例) 川越の街", class: "form-control" %>
          </div>
          5
          <div class="form-group">
              <%= f.text_field :senryu_top, placeholder: "例) 川越よ", class: "form-control" %>
          </div>
          7
          <div class="form-group">
              <%= f.text_field :senryu_middle, placeholder: "例) 重なる歴史", class: "form-control" %>
          </div>
          5
          <div class="form-group">
              <%= f.text_field :senryu_bottom, placeholder: "例) 山越えよ", class: "form-control" %>
          </div>
          <%= f.submit "投稿する", class: "button" %>
          <%= link_to "前に戻る", kawagoe3_senryu_index_path, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
