<div class="flash">
  <% messages = @senryu.errors.full_messages %>
  <% if messages.present? %>
    <div class="alert alert-danger">
      全項目入力してください
    </div>
  <% end %>
</div>
<div class="senryu">
  <div class="container">
    <div class="row">
      <h3>川柳を投稿する</h3>
      <%= form_for [:kawagoe3, @senryu],url: kawagoe3_senryu_index_path, html: { class: 'form-horizontal form-contents' } do |f| %>
        <div class="form_content">
          <div class="form-group">
              <%= f.text_field :name, placeholder: "名前", class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.number_field :age, placeholder: "年齢", class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :theme, placeholder: "テーマ", class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :senryu_top, placeholder: "5", class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :senryu_middle, placeholder: "7", class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.text_field :senryu_bottom, placeholder: "5", class: "form-control" %>
          </div>
          <%= f.submit "投稿する", class: "button" %>
          <%= link_to "前に戻る", kawagoe3_senryu_index_path, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
