<div class="story">
  <div class="story_content">
    <h2 class="main_title">ストーリー<br><hr width="70"></h2>
    <p>「川越の未来は、この手で守る」</p><br>
    <p>時が人を結ぶまち、川越。<br>
       最後にここを訪れたのはいつだっただろうか。<br>
       見慣れたふるさとの景色に、僕は懐かしさを感じていた。<br>
       ところが街はある奇妙な事件で騒然となった。<br>
       なんと、ロボットを乗せた不思議な山車が現れたというのだ。<br>
       一目見て噂を確かめるため、あるはずのない30番目の山車の元へ駆けつけた。</p>
    <p>そんな僕を見つけると、ロボットは写真を渡してこう言った。<br>
      「君ニ川越ノ未来ヲ救ッテホシイ。」<br>
       そこに写し出されていたのは、変わり果てた未来の川越だった。</p><br>
    <p>僕が川越の未来を救う…？</p><br>
    <p>変わらないもの、変わりゆくもの。<br>
       過去、現在、未来。<br>
       全てが繋がった時、川越の未来は変わる。<br>
       時空を越えた謎解きが今、始まる。</p>
   </div>
</div>
<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="title_img">
          <%= image_tag 'イベント.png' %>
        </div>
        <div class="col-xs-12">
          <h3><span>開催期間/</span></h3>
          <p>2016.3.27~9.25 期間中、<span>(土、日、祝)</span>の限定開催</p>
        </div>
        <div class="col-xs-6">
          <h3><span>開催時間/</span></h3>
          <p>am10:00<br>~pm16:00</p>
        </div>
        <div class="col-xs-6">
          <h3><span>受付場所/</span></h3>
          <p>川越駅観光案内所<br>仲町観光案内所</p>
        </div>
        <div class="col-xs-6">
          <h3><span>参加費/</span></h3>
          <p>500円</p>
        </div>
        <div class="col-xs-6">
          <h3><span>持ち物/</span></h3>
          <p>筆記用具</p>
        </div>
        <!-- <div><%= link_to "？？？？", "", class: "button" %></div>
        <div><%= link_to "？？？？", "", class: "button" %></div>
        <div><%= link_to "ヒント", kawagoe3_confirm_index_path, class: "button" %></div> -->
        <%= image_tag '地図.png', class: "map" %>
      </div>
      <div class="col-sm-6">
        <div class="dashi-content">
          <%= image_tag 'NO30山車イラスト.png', class: "dashi" %>
        </div>
        <div class="col-xs-12">
          <h3><span>参加方法/</span></h3>
          <p>1.川越駅・仲町の<span>観光案内所</span>で受付。</p>
          <p>2.参加費<span>500円</span>で謎解きツールを購入。<span>筆記用具</span>はご用意ください。</p>
          <p>3.謎は3つの章仕立。答えは各チェックポイントにいるスタッフに伝えよう。見事正解で次の謎へ！</p>
        </div>
      </div>
    </div>
  </div>
</div>
