<div class="container">
  <div class="row">
    <h4>ヒント一覧</h4>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a>1stフェーズ（クリック）</a>
        <ul>
          <li id="h1-1"><a href="#hint1-1">１の謎</a></li>
          <li id="h1-2"><a href="#hint1-2">２の謎</a></li>
          <li id="h1-3"><a href="#hint1-3">３の謎</a></li>
          <li id="h1-4"><a href="#hint1-4">４の謎</a></li>
          <li id="h1-5"><a href="#hint1-5">５の謎</a></li>
          <li id="h1-6-1"><a href="#hint1-6-1">10字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h1-6-2"><a href="#hint1-6-2">10字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h1-7-1"><a href="#hint1-7-1">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
          <li id="h1-7-2"><a href="#hint1-7-2">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント２</a></li>
        </ul>
      </li>
      <%= image_tag '未来_川越_街並イラスト.png', class: "future-kawagoe-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a>2ndフェーズ（クリック）</a>
        <ul>
          <li id="h2-1"><a href="#hint2-1">一の謎</a></li>
          <li id="h2-2"><a href="#hint2-2">二の謎</a></li>
          <li id="h2-3"><a href="#hint2-3">三の謎</a></li>
          <li id="h2-4"><a href="#hint2-4">四の謎</a></li>
          <li id="h2-5-1"><a href="#hint2-5-1">最初の7字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h2-5-2"><a href="#hint2-5-2">最初の7字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h2-5-3"><a href="#hint2-5-3">最初の7字の言葉がわからない ↪︎ヒント３</a></li>
          <li id="h2-5-4"><a href="#hint2-5-4">最初の7字の言葉がわからない ↪︎ヒント４</a></li>
          <li id="h2-6-1"><a href="#hint2-6-1">観覧車の場所がわからない ↪︎ヒント１</a></li>
          <li id="h2-6-2"><a href="#hint2-6-2">観覧車の場所がわからない ↪︎ヒント２</a></li>
        </ul>
      </li>
      <%= image_tag 'ゴエモンイラスト.png', class: "goemon-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a>3rdフェーズ（クリック）</a>
        <ul>
          <li id="h3-1"><a href="#hint3-1">ピエロのポスター</a></li>
          <li id="h3-2-1"><a href="#hint3-2-1">8字の回答がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
          <li id="h3-2-2"><a href="#hint3-2-2">8字の回答がわからない &nbsp;&nbsp;↪︎ヒント２</a></li>
          <li id="h3-2-3"><a href="#hint3-2-3">8字の言葉がわからない &nbsp;&nbsp;↪︎ヒント３</a></li>
          <li id="h3-2-4"><a href="#hint3-2-4">8字の言葉がわからない &nbsp;&nbsp;↪︎ヒント４</a></li>
          <li id="h3-2-5"><a href="#hint3-2-5">8字の言葉がわからない &nbsp;&nbsp;↪︎ヒント５</a></li>
          <li id="h3-3-1"><a href="#hint3-3-1">10字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h3-3-2"><a href="#hint3-3-2">10字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h3-3-3"><a href="#hint3-3-3">10字の言葉がわからない ↪︎ヒント３</a></li>
          <li id="h3-4-1"><a href="#hint3-4-1">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
          <li id="h3-4-2"><a href="#hint3-4-2">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント２</a></li>
          <li id="h3-4-3"><a href="#hint3-4-3">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント３</a></li>
        </ul>
      </li>
      <%= image_tag 'NO30山車イラスト.png', class: "dashi-img" %>
    </ul>
  </div>
</div>
<div class="remodal" data-remodal-id="hint1-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズ１の謎</h2>
    <p>緑の「あれ」がなくなっている。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズ２の謎</h2>
    <p>直線で結んでみよう。答えは4文字だよ。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズ３の謎</h2>
    <p>一→厳、家→島</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズ４の謎</h2>
    <p>建物の上に注目してみよう。新しく増えた針はどれだろう？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズ５の謎</h2>
    <p>お菓子は200gだね。黒く塗りつぶすと答えの文字だけが残るよ。ゴエモンの言葉にも注目！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-6-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">10字の答えがわからない ヒント１</h2>
    <p>赤い月はどこで見たかな？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-6-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">10字の答えがわからない ヒント２</h2>
    <p>赤い月の前に通った文字をスタートから読むと...</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-7-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">6字の答えがわからない ヒント１</h2>
    <p>星はカードの左向きの山車が書いてある面に4つあるね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-7-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">6字の答えがわからない ヒント２</h2>
    <p>時空空間に「マチナミ」があるよ！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズ 一の謎</h2>
    <p>左側の面に白いマスが5つあるよ。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズ 二の謎</h2>
    <p>下の模様を目印にして照らし合わせてみよう。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズ 三の謎</h2>
    <p>ｍ↓＝ｎ 、c↑＝b</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズ 四の謎</h2>
    <p>この字は、川柳で使われている字とそっくりだね！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">最初の7字の答えがわからない ヒント１</h2>
    <p>まずはそれぞれの山車を完成させてみよう。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">最初の7字の答えがわからない ヒント２</h2>
    <p>「ひっかわせ」はネタロウが説明していたね。順番は、羅陵王、弁慶、と続くよ。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">最初の7字の答えがわからない ヒント３</h2>
    <p>光はゴエモンが乗っている３０番目の山車の近くにあったよ。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">最初の7字の答えがわからない ヒント４</h2>
    <p>30番目の山車で4つの山車と順番にひっかわせをすると、光が文字を照らすよ！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-6-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">観覧車の場所がわからない ヒント１</h2>
    <p>過去に来た時、４つのライトは何を照らしていたかな？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-6-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">観覧車の場所がわからない ヒント２</h2>
    <p>君たちは「1846」を照らしてこの時代にきた。じゃあ、「????」を照らして今年に戻ろう！時間が進む方向が正しい山車の向きだよ。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">ピエロのポスター</h2>
    <p>この4色のマスは、どの順番にたどるんだっけ... 未来にも似たような謎があったような...</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">8字の答えがわからない ヒント１</h2>
    <p>絵のかけらは川柳に散らばっていたね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">8字の答えがわからない ヒント２</h2>
    <p>絵のかけらをピエロが示す順番に読むと、「かこからげんだいまで...」と読めるはず。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">8字の答えがわからない ヒント３</h2>
    <p>解答欄が過去、現代、未来、すべて同じ形をしているよ！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">8字の答えがわからない ヒント４</h2>
    <p>「かこ」と「げんだい」にはあるけど、「みらい」では4字の「あれ」が失われている。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">8字の答えがわからない ヒント５</h2>
    <p>過去と現代にある4字の「あれ」を未来の解答欄でも変えないで守り続けると、未来で導き出された8字が変わるよ！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-3-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">10字の答えがわからない ヒント１</h2>
    <p>赤い時とは、赤い時計のこと。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-3-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">10字の答えがわからない ヒント２</h2>
    <p>赤い時計は、時空空間に10個あったよ！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-3-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">10字の答えがわからない ヒント３</h2>
    <p>赤い時計は、1時から10時のものまであるね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-4-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">6字の答えがわからない ヒント１</h2>
    <p>途切れている虹は時空空間にあったね！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-4-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">6字の答えがわからない ヒント２</h2>
    <p>山車を虹に向かわせてはさんでみよう！カラフルな光が一致するはず！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-4-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">6字の答えがわからない ヒント３</h2>
    <p>30番目の山車を2つの方向から見てみよう！</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<%= javascript_include_tag 'remodal.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'hint.js', 'data-turbolinks-track' => true %>