<div class="container">
  <div class="row">
    <h4>ヒント一覧</h4>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">1stフェーズ</a>
        <ul>
          <li id="h1-1"><a href="#hint1-1">ヒント１</a></li>
          <li id="h1-2"><a href="#hint1-2">ヒント２</a></li>
          <li id="h1-3"><a href="#hint1-3">ヒント３</a></li>
          <li id="h1-4"><a href="#hint1-4">ヒント４</a></li>
          <li id="h1-5-1"><a href="#hint1-5-1">11字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h1-5-2"><a href="#hint1-5-2">11字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h1-6-1"><a href="#hint1-6-1">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
          <li id="h1-6-2"><a href="#hint1-6-2">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント２</a></li>
        </ul>
      </li>
      <%= image_tag '未来_川越_街並イラスト.png', class: "future-kawagoe-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">2ndフェーズ</a>
        <ul>
          <li id="h2-1"><a href="#hint2-1">ヒント１</a></li>
          <li id="h2-2"><a href="#hint2-2">ヒント２</a></li>
          <li id="h2-3"><a href="#hint2-3">ヒント３</a></li>
          <li id="h2-4"><a href="#hint2-4">ヒント４</a></li>
          <li id="h2-5-1"><a href="#hint2-5-1">7字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h2-5-2"><a href="#hint2-5-2">7字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h2-6-1"><a href="#hint2-6-1">5字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h2-6-2"><a href="#hint2-6-2">5字の言葉がわからない ↪︎ヒント２</a></li>
        </ul>
      </li>
      <%= image_tag 'ゴエモンイラスト.png', class: "goemon-img" %>
    </ul>
    <ul id="fade-in2" class="dropmenu col-sm-4">
      <li><a href="#">3rdフェーズ</a>
        <ul>
          <li id="h3-1-1"><a href="#hint3-1-1">20字の回答がわからない ↪︎ヒント１</a></li>
          <li id="h3-1-2"><a href="#hint3-1-2">20字の回答がわからない ↪︎ヒント２</a></li>
          <li id="h3-2-1"><a href="#hint3-2-1">8字の言葉がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
          <li id="h3-2-2"><a href="#hint3-2-2">8字の言葉がわからない &nbsp;&nbsp;↪︎ヒント２</a></li>
          <li id="h3-3-1"><a href="#hint3-3-1">11字の言葉がわからない ↪︎ヒント１</a></li>
          <li id="h3-3-2"><a href="#hint3-3-2">11字の言葉がわからない ↪︎ヒント２</a></li>
          <li id="h3-4-1"><a href="#hint3-4-1">6字の言葉がわからない &nbsp;&nbsp;↪︎ヒント１</a></li>
        </ul>
      </li>
      <%= image_tag 'NO30山車イラスト.png', class: "dashi-img" %>
    </ul>
  </div>
</div>
<div class="remodal" data-remodal-id="hint1-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズヒント１</h2>
    <p>どこかで赤い月を見なかった？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズヒント２</h2>
    <p>赤い月の前で通ったのは何だろう？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズヒント３</h2>
    <p>手元にマチナミと星があるはず。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint1-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">1stフェーズヒント４</h2>
    <p>山車カードが指すものは？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズヒント１</h2>
    <p>「ひっかわせ」は誰かが説明していたよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズヒント２</h2>
    <p>誰かがある川越の名物を二等分していたよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズヒント３</h2>
    <p>山車の特徴についてはみんなが説明していたね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズヒント４</h2>
    <p>過去に来た時、４隅のライトは何を指していたかな？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint2-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">2ndフェーズヒント５</h2>
    <p>山車は何かを指しているよね。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">3rdフェーズヒント１</h2>
    <p>このかけらを山車（ポスター）の絵を見比べでごらん。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">3rdフェーズヒント２</h2>
    <p>この色の並び、どこかで見なかったかい？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">3rdフェーズヒント３</h2>
    <p>「過去から現代まで」、つまり過去と現代で解答用紙を見比べてごらん。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">3rdフェーズヒント４</h2>
    <p>過去から現代まで受け継がれたことを未来でも守ってほしい。</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<div class="remodal" data-remodal-id="hint3-5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div class="clearfix">
    <h2 class="modaltitle">3rdフェーズヒント５</h2>
    <p>虹をどこかで見なかったかい？</p>
  </div>
  <br>
  <a data-remodal-action="cancel" class="m_button">Close</a>
</div>
<%= javascript_include_tag 'remodal.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'hint.js', 'data-turbolinks-track' => true %>