<!DOCTYPE html>
<html>
<head>
  <title>川越謎解きミステリー第3弾公式サイト</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon',
  :type => 'image/png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<body>
<header>
  <div class="container">
    <div class="row">
      <%= link_to image_tag('謎解き3弾_タイトル.png'), kawagoe3_root_path, class: "title" %>
      <div class="top-right-content">
        <ul>
          <li><%= link_to "過去公演情報", "http://www.unibirth.net/%E9%81%8E%E5%8E%BB%E3%81%AE%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/",target: "_blank" %></li>
          <li><%= link_to "？？？", "" %></li>
          <li><%= link_to "？？？", "" %></li>
          <li><%= link_to "ヒント", kawagoe3_hint_index_path %></li>
        </ul>
      </div>
      <nav id="slide_menu">
        <a id="sub_button"><i class="fa fa-times"></i></a>
        <ul>
          <li class="menu-content"><%= link_to "ホーム", kawagoe3_root_path %></li>
          <li><%= link_to "ストーリー", kawagoe3_root_path %></li>
          <li class="menu-content"><%= link_to "？？？", "" %></li>
          <li ><%= link_to "？？？", "" %></li>
          <li class="menu-content"><%= link_to "ヒント", kawagoe3_hint_index_path %></li>
          <li ><%= link_to "過去公演情報", "http://www.unibirth.net/%E9%81%8E%E5%8E%BB%E3%81%AE%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/", target: "_blank" %></li>
          <li class="menu-content"><%= link_to "UniBirthとは？", "http://www.unibirth.net/unibirth%E3%81%A8%E3%81%AF/", target: "_blank" %></li>
        </ul>
      </nav>
      <a id="button"><i class="fa fa-bars"></i></a>

    </div>
  </div>
</header>

<%= yield %>

<div class="bottom-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 content">
        <h5>注意事項</h5>
        <hr width="70">
        <p>※ このゲームはあなたが川越の街を巡りながら謎を解いていく周遊型謎解きゲームです。</p>
        <p>※ ネタバレ・ヒントなどブログやSNSに絶対に載せないでください。</p>
        <p>※ 開催日に注意してお越しください。</p>
      </div>
      <div class="col-sm-4 link content">
        <h5>関連リンク</h5>
        <hr width="70">
        <p>・ <%= link_to "(公社)小江戸川越観光協会", "http://www.koedo.or.jp/", target: "_blank" %></p>
        <p>・ <%= link_to "川越市公式サイト", "https://www.city.kawagoe.saitama.jp", target: "_blank" %></p>
        <p>・ <%= link_to "学生団体UniBirth公式サイト", "http://www.unibirth.net", target: "_blank" %></p>
      </div>
      <div class="col-sm-4 content">
        <h5>UniBirth公式Twitter</h5>
        <hr width="70">
        <div class="twitter-timeline-container" data-widget-id="704495177113559040">@UniBirth2013さんのツイート</div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <p>主催 /（公社）小江戸川越観光協会 &nbsp;&nbsp;&nbsp; 協力 / 川越市 &nbsp;&nbsp;&nbsp; 監修 / 学生団体UniBirth</p>
  <p>Copyright 2016 （公社）小江戸川越観光協会 学生団体UniBirth All Rights Reserved</p>
</footer>
<script>
  $(document).on('opening', '.remodal', function () {
    console.log('opening');
  });

  $(document).on('opened', '.remodal', function () {
    console.log('opened');
  });

  $(document).on('closing', '.remodal', function (e) {
    console.log('closing' + (e.reason ? ', reason: ' + e.reason : ''));
  });

  $(document).on('closed', '.remodal', function (e) {
    console.log('closed' + (e.reason ? ', reason: ' + e.reason : ''));
  });

  $(document).on('confirmation', '.remodal', function () {
    console.log('confirmation');
  });

  $(document).on('cancellation', '.remodal', function () {
    console.log('cancellation');
  });

  //  The second way to initialize:
  $('[data-remodal-id=modal2]').remodal({
    modifier: 'with-red-theme'
  });
</script>
<script>
  $(function(){
  var menu = $('#slide_menu'), // スライドインするメニューを指定
      menuBtn = $('#button'),
      sub_menuBtn = $('#sub_button') // メニューボタンを指定
      body = $(document.body),
      menuWidth = menu.outerWidth();
      // メニューボタンをクリックした時の動き
      menuBtn.on('click', function(){
      // body に open クラスを付与する
      body.toggleClass('open');
          if(body.hasClass('open')){
              // open クラスが body についていたらメニューをスライドインする
              body.animate({'right' : menuWidth }, 300);
              menu.animate({'right' : 0 }, 300);
          } else {
              // open クラスが body についていなかったらスライドアウトする
              menu.animate({'right' : -menuWidth }, 300);
              body.animate({'right' : 0 }, 300);
          }
      });
      sub_menuBtn.on('click', function(){
      // body に open クラスを付与する
      body.toggleClass('open');
          if(body.hasClass('open')){
              // open クラスが body についていたらメニューをスライドインする
              body.animate({'right' : menuWidth }, 300);
              menu.animate({'right' : 0 }, 300);
          } else {
              // open クラスが body についていなかったらスライドアウトする
              menu.animate({'right' : -menuWidth }, 300);
              body.animate({'right' : 0 }, 300);
          }
      });
  });
</script>
<script>
  $(function(){
    $('body').hide();
    $('body').fadeIn(1000);
    $('.story_content h2').hide();
    $('.story_content h2').fadeIn(4000);
    $('.story_content p').hide();
    $('.story_content p').fadeIn(4000);
  });
</script>

</body>
</html>
